* {
    font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
	margin: 0;
}
h1 {
	margin: 5px 5px;
	padding: 10px 10px;
}
h3 {
	margin: 10px 10px;
	color: blue;
}
p {
	margin: 8px 8px;
	font-size: 16px;
}
form {
	font-family: 'Franklin Gothic Medium', Arial, sans-serif;
}