<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'users/css/style.css' %}" />
    <title>Create a User</title>
</head>
<body>
    <div class="messages">
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    <div class="create_user">
        <form action="/users/create/" method="post">
            {% csrf_token %}
            First name:<input type="text" name="first_name">
            Last name:<input type="text" name="last_name">
            Email address:<input type="text" name="email">
            <input type="submit" class="btn" name="submit" value="Create">
        </form>
    </div>
    <div class="user_actions">
        <a href="/users/">Return Home</a>
    </div>
</body>
</html>