<html>
    <head>
        <meta charset="utf-8">
        <title>Ninjas!</title>
        <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <h1>Let's learn about Ninjas!</h1>
        <h3>Myth #1 - They were called ninjas</h3>
        <p>“Ninjas” were spies who were incredibly stealthy, so they became referred to as “shinobi-no-mono.” Shinobi means “to steal away,” and the Japanese characters that make up the word sound like “nin-sha.” By the end of WWII, Americans used “ninja” because it was easier to pronounce.</p>
        <h3>Myth #2 - They wore black costumes</h3>
        <p>There is no evidence that ninjas wore all black. The shinobi needed to blend into their surroundings, and walking around in all black with a face mask isn’t exactly inconspicuous. These highly trained assassins wanted to look like civilians, so they wore the clothing of peasants, priests, merchants, or even samurai. Why did the black duds become THE symbol of the shinobi? Because show business.</p>
        <p>Playwrights of the time needed their actors to portray invisible assassins, so they took inspiration from the stagehands – who wore black clothing so they wouldn’t attract attention during the shows. This visual idea of stealth stuck and was used as the defining look for shinobi from that point on.</p>
        <h3>Myth #3 - Shinobi and samurai didn't get along</h3>
        <p>It was often believed that shinobi were considered to be too low class to become samurai or that the two were constantly at odds. Nothing could be further from the truth. One of the most famous samurai, Hattori Hanzo, was also a shinobi. There was no dishonor in being a samurai and carrying out clandestine missions.</p>
    </body>
    <footer>
        <p>Thanks to <a href="https://didyouknowfacts.com/everything-think-know-ninjas-completely-wrong/">Did You Know? Facts</a> for their fabulous website debunking the modern "ninja" myth!</p>
    </footer>
</html>
