<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Log In Success!</title>
</head>
<body>
    <div class="success">
        <p>ID {{ session["id"] }} has successfully logged in</p>
    </div>
    <form action='/logout' method='get'>
        <input type="submit" class="btn" name="logout" value="Log Out">
    </form>
</body>
</html>