<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'book_reviews/css/style.css' %}" />
    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Book and Reviews</title>
</head>
<body>
    <div class="welcome">
        <div class="welcome_user">
            <h3>Welcome, {{ user.name }}</h3>
        </div>
        <div class="nav_bar">
            <a href="../../books/add/">Add Book and Review</a><span>.....</span><a href="../../logout/">Logout</a>
        </div>
    </div> <!-- End welcome -->
    <div class="recent_reviews">
        <table>
            <h3>Recent Book Reviews</h3>
            {% for r in reviews %}
                <ul><a href="../../books/{{ r.book.id }}/">{{ r.book }}</a>
                    <li>Rating: {{ r.stars }} stars</li>
                    <li><a href="../../users/{{ r.user.id }}/">{{ r.user }}</a> says: <span class="italic">{{ r.review_text }}</span></li>
                    <li><span class="italic">{{ r.created_at }}</span></li>
                </ul>
            {% endfor %}
        </table>
    </div> <!-- End recent_reviews -->
    <div class="books_w_reviews">
        <h3>Other Books with Reviews</h3>
        <div class="book_container">
            <ul>
            {% for b in books %}
                <li><a href="../../books/{{ b.id }}/">{{ b.title }}</a></li>
            {% endfor %}
            </ul>
        </div>  <!-- End book_container -->
    </div>
</body>
</html>