<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'book_reviews/css/style.css' %}" />
    <title>Book and Reviews</title>
</head>
<body>
    <div class="welcome">
        <div class="welcome_user">
            <h3>Welcome, {{ user.name }}</h3>
        </div>
        <div class="nav_bar">
            <a href="../../books/add/">Add Book and Review</a><span>.....</span><a href="../../logout/">Logout</a>
        </div>
    </div> <!-- End welcome -->
    <div class="recent_reviews">
        <table>
            <h3>Recent Book Reviews</h3>
            {% for r in reviews %}
                <ul>{{ r.book }}
                    <!-- {% static "" as baseUrl %}
                    <img src="{{ baseUrl }}book_reviews/images/{{ r.stars }}stars.png"></img>
                    <!-- {% with 'book_reviews/images/'|add:r.stars|add:'stars.png' as image_static %}
                        <li>{% static image_static %}</li>
                    {% endwith %} --> -->
                    <li>{{ r.user }} says: <span class="italic">{{ r.review_text }}</span></li>
                    <li>{{ r.created_at }} </li>
                </ul>
            {% endfor %}
        </table>
    </div> <!-- End recent_reviews -->
    <div class="books_w_reviews">
        <h3>Other Books with Reviews</h3>
        <table>
            {% for b in books %}
                <tr>
                    <td>{{ b.title }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>