<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'book_reviews/css/style.css' %}" />
    <title>User Reviews</title>
</head>
<body>
    <div class="about_me">
        <ul>User Alias: {{ user.alias }}
            <li>Name: {{ user.name }}</li>
            <li>Email: {{ user.email }}</li>
            <li>Total reviews: {{ num_reviews }} </li>
        </ul>
    </div> <!-- End about_me -->
    <div class="my_reviews">
        <h3>Posted Reviews on the Following Books</h3>
        <ul>
        {% for r in my_reviews %}
            <li><a href="../../books/{{ r.book.id }}">{{ r.book }}</a></li>
        {% endfor %}
        </ul>
    </div> <!-- End my_reviews-->
</body>
</html>