<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit</title>
</head>
<body>
    <form action="/update_users/{{ users.id }}" method="post">
        <input type="text" name="first_name" placceholder="first_name" 
        value="{{ users.
first_name }}">
        <input type="text" name="last_name" placceholder="last_name" 
        value="{{ users.last_name }}">
        <input type="text" name="email" placceholder="email" 
        value="{{ users.email }}">
        <input type="text" name="password" placceholder="password" 
        value="{{ users.password }}">
        <input type="submit">
    </form>
</body>
</html>