* {
    margin: 0px;
}
body { /* All body base styling */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.login_reg_container {
    width: 430px;
}
.login_reg_welcome { /* Welcome page header */
    display: inline-block;
    text-align: center;
    width: 420px;
}
.wall_container {
    width: 500px;
}
.wall_header { /* The Wall header section */
    display: inline-block;
    width: 490px;
    margin: 2px 2px;
}
.wall_header span {  /* Logged in The Wall page header */
    font-size: 10pt;
    padding: 0px 255px 6px 0px;
}
.wall_post_msg {
    width: 650px;
}
.wall_post_msg h5 { /* post message heading */
    text-align: left;
    color: darkslategrey;
    margin-left: 8px;
}
.wall_msg_btn { /* post message submit button */
    height: 20px;
    margin-top: 5px;
    margin-left: 290px;
    font-size: 9pt;
    background-color: cornflowerblue;
    color: white;
}
.wall_msg { /* post message text area */
    text-align: top;
    width: 400px;
    height: 80px;
    font-size: 8pt;
    border: 2px solid #cccccc;
	background-position: bottom right;
    background-repeat: no-repeat;
}
.wall_messages { /* iterates through each message in db */
    width: 600px;
    font-size: 8pt;
}
.wall_messages ul { /* messages parent list styling */
    list-style-type: none;
    overflow: auto;
}
.wall_messages ul span { /* messages parent list styling */
    font-weight: 600;
}
.wall_messages li { /* messages individual item styling */
    width: 350px;
    margin: 2px 0px 3px 15px;
    white-space: pre-wrap;
}
p { /* All paragraph base styling */
    text-align: center;
    font-size: 8pt;
    font-style: italic;
}
h3 { /* Login/Reg page instructions */
    margin-top: 10px;
    text-align: center;
    color: black;
}
h4 { /* Login/Reg page page header */
    text-align: center;
    margin-top: 5px;
    text-decoration: underline;
    color: darkslategrey;
}
.login, .register {
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
    width: 180px;
}
.login { /* Login 'widget' styling  */
    margin-left: 20px;
    border: 1px solid darkblue;
    background-color: lightblue; 
}
.register { /* Register 'widget' styling  */
    border: 1px solid darkgoldenrod;
    background-color: lightgoldenrodyellow;
}
.flash { /* All flash messages base styling */
    margin-top: 20px;
    margin-left: 10px;
    height: 40%;
    text-align: center;
    width: 430px;
    background-color: red;
    color: white;
}
form { /* All forms base styling */
    display: inline-block;
    width: 170px;
    margin-top: 5px;
    padding: 7px;
    font-size: 8pt;
}
.login_reg_btn { 
    display: inline-block;
    margin-top: 10px;
    margin-left: 80px;
    font-size: 8pt;
}