<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'words/css/style.css' %}" />
    <title>Session Words</title>
</head>
<body>
    <div class="form">
        <h2>Add a new word</h2>
        <form action="/add_word" method="post">
            {% csrf_token %}
            <input type="text" name="word">
            <h5>Choose Color</h5>
            <ul>
                <li><input type="radio" name="color" value="red"><label>Red</label></li>
                <li><input type="radio" name="color" value="green"><label>Green</label></li>
                <li><input type="radio" name="color" value="blue" checked><label>Blue</label></li>
            </ul>
            <input type="checkbox" name="font"><label>show in BIG fonts!</label>
            <br>
            <input type="submit" class="submit_btn" value="Add to Session">
        </form>
    </div> <!-- end form -->
    <div class="right_side">
        <div class="clear">
            <form action="/clear_session" method="post">
                {% csrf_token %}
                <input type="submit" class="clear_btn" value="Clear Session">
            </form>
        </div> <!-- end clear -->
        <div class="word_container">
            {% for entry in word_list %}
                <p><span class="{{ entry.font }}" style="color:{{ entry.color }};">{{ entry.word }}</span><span class="ts">- added on {{ entry.ts }}</span></p>
            {% endfor %}
        </div>
    </div>
</body>
</html>