body {
    width: 350px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 11pt;
}
ul {
    list-style: none;
}
.messages {
    margin: 10px 0px 0px 10px;
    height: 40%;
    text-align: center;
    width: 430px;
    background-color: darkred;
    color: white;
}