body {
    width: 530px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
}
ul {
    list-style: none;
    padding-left: 2px;
    padding-bottom: 3px;
}
li {
    margin-bottom: 2px;
}
.italic {
    font-style: italic;
}
.messages {
    margin: 20px 0px 5px 10px;
    text-align: center;
    width: 375px;
    background-color: darkred;
    color: white;
}
.reg {
    vertical-align: top;
    display: inline-block;
    width: 250px;
    padding: 0px 3px 3px 3px;
    border: 1px solid black;
}
.reg p {
    font-size: 8pt;
    font-style: italic;
}
.login {
    vertical-align: top;
    display: inline-block;
    width: 250px;
    padding: 0px 3px 3px 3px;
    border: 1px solid black;
}
.btn {
    margin-left: 170px;
    margin-bottom: 5px;
}
.about_me, .my_reviews {
    margin: 10px 0px 3px 10px;
}
.about_me, .my_reviews {
    width: 300px;
    vertical-align: top;
}
.about_me li {
    padding: 1px;
}
.my_reviews li {
    margin-left: 20px;
}
.welcome {
    width: 530px;
}
.welcome_user {
    display: inline-block;
    vertical-align: top;
}
.nav_bar {
    display: inline-block;
    vertical-align: top;
    font-size: 8pt;
    margin-top: 20px;
    margin-left: 120px;
}
.add_main {
    display: inline-block;
    width: 300px;
    vertical-align: top;
}
.book_main {
    display: inline-block;
    width: 280px;
    vertical-align: top;
}
.book_container {
    height: 100px;
    overflow: scroll;
}
.recent_reviews {
    width: 290px;
    overflow: auto;
}
.recent_reviews, .books_w_reviews, .add_review {
    display: inline-block;
    vertical-align: top;
}