body {
    width: 530px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
}
ul {
    list-style: none;
    padding-left: 3px;
}
.messages {
    margin: 20px 0px 5px 10px;
    text-align: center;
    width: 375px;
    background-color: darkred;
    color: white;
}
.reg {
    vertical-align: top;
    display: inline-block;
    width: 250px;
    padding: 0px 3px 3px 3px;
    border: 1px solid black;
}
.reg p {
    font-size: 8pt;
    font-style: italic;
}
.login {
    vertical-align: top;
    display: inline-block;
    width: 250px;
    padding: 0px 3px 3px 3px;
    border: 1px solid black;
}
.btn {
    margin-left: 170px;
    margin-bottom: 5px;
}