<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'random_word_app/css/style.css' %}" />
    <title>Document</title>
</head>
<body>
    <div class="header">
        <p>Random Word Generator (attempt # {{ count_var }})</p>
    </div>
    <div class="word">
        {{ word }}
    </div>
    <form action="/random_word_app/generate/" method="post">
        {% csrf_token %}
        <input type="submit" class="btn" value="Generate">
    </form>
</body>
</html>