* { 
    color: blue;
}
body {
    width: 480px;
    height: 300px;
}
.form {
    display: inline-block;
    width: 225px;
    height: 100%;
    border: 1px solid white;
}
.right_side {
    display: inline-block;
    vertical-align:top;
    width: 225 px;
    height: 100%;
    margin-top: 30px;
    border-left: 1px solid black;
}
.clear_btn {
    margin-left: 100px;
}
.word_container {
    display: inline-block;
    width: 240 px;
    height: 100%;
    
}