body {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 10pt;
}
table {
    width: 70%;
    border-collapse: collapse;
}
th, td {
    height: 20px;
    padding: 10px;
}
table, th, td {
    border: 1px solid black;
}
tbody tr:nth-child(odd){
    background-color: lightgrey;
    color: black;
}