<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'amadon/css/style.css' %}" />
    <title>Thank you for your purchase!</title>
</head>
<body>
    <h3>Thanks you for your business!</h3>
    <p>We charged your credit card ${{ tally.total_cost }}  </p>
    <p>You have ordered {{ tally.total_items }} and spent ${{ tally.lifetime_spend }} with Amadon.com. </p>
</body>
    <footer>
        <a href="/">Go back</a>
    </footer>
</html>