<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'amadon/css/style.css' %}" />
    <title>Welcome to Amadon!</title>
</head>
<body>
    <h4>Welcome to the Amadon Store</h4>
    <div class="items">
        <table>
            <tr>
                <th>Item</th>
                <th>Price</th> 
                <th>Actions</th>
            </tr>
            <tr>
                <td>Dojo T-shirt</td>
                <td>$19.99</td> 
                <td>
                    <form action='/amadon/buy' method='post'>
                        <select name='quantity'>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                        </select>
                        <input type='hidden' name='product_id' value='1015' />
                        <input type='submit' name="submit" value='Buy!' />
                    </form>
                </td>
            </tr>
            <tr>
                <td>Dojo Sweater</td>
                <td>$29.99</td> 
                <td>
                    <form action='/amadon/buy' method='post'>
                        <select name='quantity'>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                        </select>
                        <input type='hidden' name='product_id' value='1016' />
                        <input type='submit' name="submit" value='Buy!' />
                    </form>
                </td>
            </tr>
            <tr>
                <td>Dojo Cup</td>
                <td>$4.99</td> 
                <td>
                    <form action='/amadon/buy' method='post'>
                        <select name='quantity'>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                        </select>
                        <input type='hidden' name='product_id' value='1017' />
                        <input type='submit' name="submit" value='Buy!' />
                    </form>
                </td>
            </tr>
            <tr>
                <td>Algorithm Book</td>
                <td>$49.99</td> 
                <td>
                    <form action='/amadon/buy' method='post'>
                        <select name='quantity'>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                        </select>
                        <input type='hidden' name='product_id' value='1018' />
                        <input type='submit' name="submit" value='Buy!' />
                    </form>
                </td>
            </tr>            
        </table>
    </div> <!-- end items -->
</body>
</html>