* {
    color: blue;
}
body {
    width: 300px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
div {
    border: 1px solid black;
    text-align: center;
}
.header {
    font-size: 8pt;
    margin-left: 50px; 
    width: 150px;
}
.date_time {
    width: 250px;
    padding: 5px;
    margin: 5px 0px 0px 0px;
    font-size: 14pt;
}